@font-face {
  font-family: "iconfont"; /* Project id 4082951 */
  src: url('iconfont.woff2?t=1700735653673') format('woff2'),
       url('iconfont.woff?t=1700735653673') format('woff'),
       url('iconfont.ttf?t=1700735653673') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-priority:before {
  content: "\e657";
}

.icon-piliang:before {
  content: "\e8c8";
}

.icon-baocun:before {
  content: "\e8c7";
}

.icon-loading:before {
  content: "\e8c6";
}

.icon-question-circle:before {
  content: "\e8c5";
}

.icon-zhuanhuan:before {
  content: "\e8c4";
}

.icon-yiwancheng:before {
  content: "\e8c1";
}

.icon-jinhangzhong:before {
  content: "\e8c2";
}

.icon-daichuli:before {
  content: "\e8c3";
}

.icon-bofang:before {
  content: "\e8c0";
}

.icon-touxiang:before {
  content: "\e840";
}

.icon-quanxianshezhi:before {
  content: "\e8bf";
}

.icon-bianji1:before {
  content: "\e8be";
}

.icon-stop:before {
  content: "\e8bd";
}

.icon-heart-fill:before {
  content: "\e8bb";
}

.icon-robot:before {
  content: "\e8bc";
}

.icon-bug:before {
  content: "\e8ba";
}

.icon-gongshishezhi:before {
  content: "\e8b8";
}

.icon-gongzuo:before {
  content: "\e8b9";
}

.icon-moban:before {
  content: "\e8b7";
}

.icon-faxian:before {
  content: "\e6b8";
}

.icon-caogaoxiang:before {
  content: "\e7e5";
}

.icon-double-down:before {
  content: "\e8b3";
}

.icon-double-up:before {
  content: "\e8b4";
}

.icon-double-right:before {
  content: "\e8b5";
}

.icon-double-left:before {
  content: "\e8b6";
}

.icon-tuodong:before {
  content: "\e8b2";
}

.icon-gongzuoxiang:before {
  content: "\e8b0";
}

.icon-zhuti:before {
  content: "\e8b1";
}

.icon-gongzuoliu:before {
  content: "\e811";
}

.icon-arrow-down:before {
  content: "\e8ac";
}

.icon-arrow-right:before {
  content: "\e8ad";
}

.icon-arrow-left:before {
  content: "\e8ae";
}

.icon-arrow-up:before {
  content: "\e8af";
}

.icon-jiahao1:before {
  content: "\e603";
}

.icon-jiantou-xiangshang:before {
  content: "\e8aa";
}

.icon-jiantou-xiangzuo:before {
  content: "\e8ab";
}

.icon-bianhuan:before {
  content: "\e8a9";
}

.icon-jia:before {
  content: "\e8a7";
}

.icon-jian1:before {
  content: "\e8a8";
}

.icon-shangyi:before {
  content: "\e8a5";
}

.icon-xiayi:before {
  content: "\e8a6";
}

.icon-fanhui:before {
  content: "\e65f";
}

.icon-loudou:before {
  content: "\e6ca";
}

.icon-baogao:before {
  content: "\e634";
}

.icon-quanxian:before {
  content: "\ee10";
}

.icon-plus-circle-fill:before {
  content: "\e8a4";
}

.icon-minus-circle-fill:before {
  content: "\e8a2";
}

.icon-question-circle-fill:before {
  content: "\e8a3";
}

.icon-chahao:before {
  content: "\e8a1";
}

.icon-jian:before {
  content: "\e8a0";
}

.icon-kongjianleixingpeizhi:before {
  content: "\e89d";
}

.icon-dingwei:before {
  content: "\e85a";
}

.icon-kongjianpeizhi:before {
  content: "\e89e";
}

.icon-renwupeizhi:before {
  content: "\e89f";
}

.icon-a-huifuwenti:before {
  content: "\e89c";
}

.icon-chanpin:before {
  content: "\e6dc";
}

.icon-fenxiang:before {
  content: "\e897";
}

.icon-diannao:before {
  content: "\e898";
}

.icon-jiantou:before {
  content: "\e899";
}

.icon-tubiaozhutu:before {
  content: "\e89a";
}

.icon-yonghu1:before {
  content: "\e89b";
}

.icon-renwuliebiao:before {
  content: "\e895";
}

.icon-yibiaoban:before {
  content: "\e896";
}

.icon-daiban:before {
  content: "\e663";
}

.icon-kanbanshitu:before {
  content: "\e748";
}

.icon-clock-circle:before {
  content: "\e894";
}

.icon-shaixuan:before {
  content: "\e602";
}

.icon-mianban:before {
  content: "\e893";
}

.icon-shuaxin:before {
  content: "\e892";
}

.icon-copy:before {
  content: "\e891";
}

.icon-ceshi:before {
  content: "\e890";
}

.icon-morenleixing:before {
  content: "\e88b";
}

.icon-sheji:before {
  content: "\e88c";
}

.icon-Requirement:before {
  content: "\e88d";
}

.icon-Epic:before {
  content: "\e88e";
}

.icon-Story:before {
  content: "\e88f";
}

.icon-cha-mian:before {
  content: "\e888";
}

.icon-gou-mian:before {
  content: "\e889";
}

.icon-tanhao-mian:before {
  content: "\e88a";
}

.icon-star-fill:before {
  content: "\e886";
}

.icon-star:before {
  content: "\e887";
}

.icon-more:before {
  content: "\e885";
}

.icon-bianji:before {
  content: "\e884";
}

.icon-jiantou-xiangyou:before {
  content: "\e883";
}

.icon-shanchu:before {
  content: "\e864";
}

.icon-yingyong:before {
  content: "\e865";
}

.icon-tongzhi-mianxing:before {
  content: "\e866";
}

.icon-sousuo:before {
  content: "\e867";
}

.icon-daoru:before {
  content: "\e868";
}

.icon-daochu:before {
  content: "\e869";
}

.icon-jiahao:before {
  content: "\e86a";
}

.icon-cha:before {
  content: "\e86b";
}

.icon-gou:before {
  content: "\e86c";
}

.icon-jianhao:before {
  content: "\e86d";
}

.icon-a-kejianyanjing:before {
  content: "\e86e";
}

.icon-xiazai:before {
  content: "\e86f";
}

.icon-xiangneifenxiang:before {
  content: "\e870";
}

.icon-xiangwaifenxiang:before {
  content: "\e871";
}

.icon-a-shezhichilun:before {
  content: "\e872";
}

.icon-bukejian:before {
  content: "\e873";
}

.icon-anquanzhongxin:before {
  content: "\e874";
}

.icon-richeng:before {
  content: "\e875";
}

.icon-wenjian:before {
  content: "\e876";
}

.icon-rili:before {
  content: "\e878";
}

.icon-zhedie:before {
  content: "\e879";
}

.icon-yonghu:before {
  content: "\e87a";
}

.icon-zhedie-jia:before {
  content: "\e87b";
}

.icon-zhedie-shanchu:before {
  content: "\e87c";
}

.icon-tuozhuai:before {
  content: "\e87d";
}

.icon-ku:before {
  content: "\e87e";
}

.icon-youchuo-shenpi:before {
  content: "\e87f";
}

.icon-fenzhi:before {
  content: "\e880";
}

.icon-caidan-shouqi:before {
  content: "\e881";
}

.icon-caidan-zhankai:before {
  content: "\e882";
}

.icon-jiantou-xiangxia:before {
  content: "\e860";
}

.icon-zhongxinyinhang:before {
  content: "\e619";
}

.icon-zhongxinyinhangzuhe:before {
  content: "\e638";
}

